@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Lato:ital,wght@1,300&family=Open+Sans:wght@400;700&family=Roboto+Mono:wght@700&display=swap');
    
:root{
    --primary-color: #a0d8ee;
    --second-color: #f0f8ff;
    --cor-da-pagina: #424751;
}

li {
    background-color: bisque;
    text-align: start;
    padding: 0 0 8px 20px;
    
}
* {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: var(--cor-da-pagina);
}


h1 {  
    background-color: var(--second-color);
    color: var(--cor-da-pagina);
}

h2{
    background-color: rgb(160, 216, 238);
    border-radius: 10px;
    margin-top: 30px;
}


.container{
    background-color: var(--second-color);
    text-align: center;
    justify-content: center;
    max-width: 640px;
    height: 200px;
    margin: 50px auto;
    padding: 60px;
    font-size: 28px;
    border-radius: 10px;
}

/*********** TIMER */

.timer {
    
    margin: 20px auto 20px auto;
    padding: 60px;
    border-radius: 10px;
    font-size: 28px;
    background-color: var(--second-color);
    text-align: center;
    max-width: 640px;
}



.relogio {   
    font-size: 30px;
    padding: 10px;
    background-color: rgb(160, 216, 238);
    border-radius: 10px;

}

.pausado {
    color: rgb(238, 108, 136)
}
p {
    background-color: var(--second-color);
    
    border-radius: 10px;
}
p button{
    width: 150px;
    height: 30px;
    color: black;
    background-color: var(--second-color);
    font-size: 16px;
    font-style: italic;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
}

button:hover {
    cursor: pointer;
}
button.iniciar:hover {
    background-color: rgb(24, 155, 111);
    color:var(--second-color);
}
button.pausar:hover{
    background-color: rgb(226, 200, 200);
    color:var(--second-color);
}
button.zerar:hover {
    background-color: rgb(156, 196, 242);
    color:var(--second-color);
}
img[src]{
    margin-top: 20px;

}

.btn-tarefa:hover {
    background-color: var(--primary-color);
    color: var(--second-color);
}

/******* LISTA DE TAREFAS */
.lista  {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px;
    font-size: 24px;
    background-color: var(--second-color);
    border-radius: 10px;
   
}

.input-tarefa {

    background-color: var(--primary-color);
    width: 200px;
    height: 30px;
    padding-left: 10px;
    border: none;
    border-radius: 10px;

}

/******** IMAGEM BRASIL */
div .Brasil{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-direction: center;
    align-items: center;
    max-width: 100%;
    min-height: 100%;
    width: 500px;
    height: auto;
    border-radius: 10px;    
}
